*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.layout{

    display:flex;

    width:100%;

    height:100vh;

    overflow:hidden;

    background:#f5f7fb;

}

/* RIGHT SIDE */

.main-content{

    flex:1;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}

/* ROUTER CONTENT */

.page-container{

    flex:1;

    overflow-y:auto;

    padding:30px;

    background:#f7f8fc;

}

/* Scrollbar */

.page-container::-webkit-scrollbar{

    width:8px;

}

.page-container::-webkit-scrollbar-thumb{

    background:#d8d8d8;

    border-radius:20px;

}

/* Tablet */

@media(max-width:991px){

.layout{

flex-direction:column;

}

.main-content{

width:100%;

}

}

/* Mobile */

@media(max-width:768px){

.page-container{

padding:15px;

}

}